<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <header>
      <div class="logo"><img src="" alt="" /></div>
      <div class="title">
        <h1>Shop</h1>
      </div>
    </header>
    <div class="container" style="display: flex;justify-content: space-around;">
        
          <div class="adminButtons">
            <a href="add"><button>ADD</button></a>
            <a href="view"><button>DELETE</button></a>
            <a href="bid"><button>BIDS</button></a>
            
          </div>
    
          
    </div>

    <script src="bootstrap/js/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
